.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;

  img {
    width: 90%;
  }

  p {
    font-family: PokemonHollow;
  }
}
